/* src/SignUpForm.css */

.form-container {
    width: 300px;
    height: 100;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5faf7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(230, 6, 6, 0.1);
     background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8tsN90TLoBmPCMnQGH5KJhhlCGAsr5UhcTg&s');  
    

  }
  
  h2 {
    text-align: center;
    color: #f80a0a;

  }
  
  .input-field {
    margin-bottom: 15px;
    color: #f00c0c;
  }
  
  .input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #2904fd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .confirmation-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0f7e0;
    border: 1px solid #4caf50;
    border-radius: 4px;
    text-align: center;
  }
  
  .confirmation-message h3 {
    color: #388e3c;
  }
  